<hr>
<div class="container"> 
<div class="row-fluid">
        <div class="span12">
          <div class="span8">
            <%= link_to "About", about_path %> | 
            <%= link_to "Contact", contact_path %>
          </div>
          <div class="span4">
            <p class="muted pull-right">© 2013 PNTHR  no rights reserved</p>
          </div>
        </div>
      </div>
  </div>
</div>        